<h1><%= @post.title %></h1>
<h2>Comments</h2>
  <% if users_comments(@post.id) %>
    <%= users_comments(@post.id).collect{|comment| render(:partial => 'comment_list', :object => comment)} %>
  <% end %>

