.divitem, .divfield{
  width: 30%;
  margin: 0;
  padding: 1%;
  float: left;
}

a{
  color: 449744;
}

.divitem{
  clear: both;
  width: 40%;
}

.post {
  margin-top: 3%;
  margin-bottom: 3%;
}

#navbar {
  margin: 0;
  padding: 0;
  list-style: none;
}

#navbar li {
  width: 15%;
  margin: 0.1%; 
  float: left;
  background: #d5ddf3;
  text-align: center;
  border: 2px solid #0044aa;
}

#navbar a{
  color: #0044aa;
}

#navbar #current, #navbar #current a{
    background-color: white;
    color: #0044aa;
}

#notext{
  clear: both;
}

#application #main {
  width: 55%;
  padding: .5%;
  float: left;
}

#application #ad {
  width: 15%;
  padding: 3%;
  float: left;
}

#application #tags{
  padding: 3%;
  width: 15%;
  float: right;
}
#application #tags ul{
  list-style: none;
}

#footer,#footer a, #heading {
  clear: both;
  background: #D5DDF3;
  text-align: center;
  color: #0044aa;
  padding: 1%;
}

#footer {
  border-top: 2px solid #0044aa;
}

#heading {
  border-bottom: 2px solid #0044aa;
}

.post .postcontent {
  padding: 3%;
}
.post {
  padding: 3%;
  border: 1px solid #449744;
}
