.divitem, .divfield{
  width: 30%;
  margin: 0;
  padding: 1%;
  float: left;
}
.divitem{
  clear :both;
  width: 20%;
}
.title{
  clear : both;
}
.title, .author, .status, .created, .updated, .del{
  float : left;
  width : 16%;
}
hr{
  clear : both;
}
