body{
  color: #111111;
}

.divitem, .divfield{
  width: 35%;
  margin: 0;
  padding: 1%;
  float: left;
}

a, h1, h2, h3, hr{
  color: #449744;
}
a {
  text-decoration: none
}

a:hover
{
	text-decoration:underline;
	color:green;
}

.divitem{
  clear: both;
  width: 40%;
}

#navbar {
  margin: 0;
  padding: 0;
  list-style: none;
}

#navbar li {
  width: 15%;
  margin: 0.1%;
  float: left;
  background: #d5ddf3;
  text-align: center;
  border: 2px solid #0044aa;
}

#navbar a{
  color: #0044aa;
}

#navbar #current, #navbar #current a{
    background-color: white;
    color: #0044aa;
}

#navbar #logout{
  float: right;
}

#notext{
  clear: both;
}

#application_body #main {
  width: 75%;
  padding: .5%;
  float: left;
}

#application_body #tags {
  width: 15%;
  padding: 3%;
  margin-top: 3%;
  margin-bottom: 3%;
  border: 1px solid #449744;
  float: right;
}

#application_body #tags ul{
  list-style: none;
}

#footer, #heading, #heading a {
  clear: both;
  background: #D5DDF3;
  text-align: center;
  color: #0044aa;
  padding: 1%;
}

#footer {
  border-top: 2px solid #0044aa;
}

#heading {
  border-bottom: 2px solid #0044aa;
}

#heading #back_dashboard {
  width: 20%;
  float: right;
  margin: 0;
  padding: 0;
  text-align: right;
}

.post, .comment {
  padding: 3%;
  border: 1px solid #449744;
  margin-top: 3%;
  margin-bottom: 3%;
}

.edit_del, .author, .tags, .created {
  font-size: 13px;
}

.postcontent {
  padding-top: 2%;
  padding-bottom: 2%;
}

.error, #flash {
	margin-top:2px;
	text-align:center;
	color: #FF0000;
	font-size:18px;
}

#login {
  margin-top: 3%;
  margin-bottom: 3%;
}

.profile {
  width: 60%;
  margin-left: 4%;
}

.user_pic {
  margin: 4%
}

.user_pic, .profile {
  float: left;
}

#dashboard li, #categories li {
/*  color: #449744;*/
}

#dashboard li,{
	list-style:;
}

#categories li {
  list-style: none;
}

#back_dashboard {
  float: right;
  margin: 3%;
  text-align: left;
}

table{
  border-collapse: collapse;
}

table#post_index{
	width:100%;
}

#post_index td, #post_index th{
  border: 1px solid #449744;
}

#post_index th{
  background: #ada;
}
.admin_title{
  width: 250px;
}
.admin_no_of_comments{
  width: 70px;
}

#edit_del_user{
  clear: both;
}

.fieldWithErrors input, .fieldWithErrors textarea, .fieldWithErrors td{
  border: 1px solid red;
}