<% form_tag send_email_users_path do %>
Please enter your email
  <div class="divitem">Email:</div>
    <div class="divfield"><%= text_field_tag :email, params[:email] %></div>
  <div class="divitem"><%= submit_tag "submit" %></div>
<% end %>
