<div id="edit_post">
  <h3> Edit post</h3>
  <div class = 'error'><%= error_messages_for 'post' %></div>
  <% form_for [:admin, @post], :method => :put do |f| %>
    <%= render :partial=> 'form' %>
    <div class ="divitem"><%= link_to "Cancel", cancel_admin_posts_path %></div>
    <div class = "divitem"><%= submit_tag "Edit" %></div>
  <% end %>
</div>
