<li id = "category-<%= @cat.id %>">
  <% if is_admin? %>
    <%= link_to_remote "[X]", :url => admin_category_path(@cat), :method => :delete, :confirm => 'Are you sure?' %>
  <% end %>
  <%= @cat.category_name %>
</li>
