<h2>Edit category <%= @category.category_name %></h2>
  <div class = "error" id = "category_error"></div>
  <br />
<% form_for [:admin, @category], :method=> :put, :html => {:id => 'category_form'} do |f| %>
  <%= f.text_field :category_name %>
  <%= link_to "cancel", admin_categories_path %>
  <%= f.submit "Edit" %>
<% end %>
