<div id="catform">
  <h3>Edit category <%= @category.category_name %></h3>
  <div class = "error" id = "category_error"></div>
  <br />
  <% remote_form_for [:admin, @category], :method=> :put, :html => {:id => 'category_form'} do |f| %>
    <%= f.text_field :category_name %>
    <%= link_to_remote "cancel", :url => cancel_edit_form_admin_category_path(@category.id), :method => :post %>
    <%= f.submit "Edit" %>
  <% end %>
</div>
