<h2>Categories </h2>
<% form_tag delete_admin_categories_path do -%>
  <ul id = "categories">
    <% for @cat in @categories %>
      <%= render :partial => 'category' %>
    <% end %>
  </ul>
  <% if is_admin? %>
    <%= submit_tag "Delete" %>
  <% end %>
<% end %>
<% if is_admin? %>
  <h2>Add new category </h2>
  <div class = "error" id = "category_error"></div>
  <br />
  <% remote_form_for [:admin, @category], :html => {:id => 'category_form'} do |f| %>
    <%= f.text_field :category_name %>
    <%= f.submit "Add" %>
  <% end %>
<% end %>
