<% if @categories %>
  <h2>Categories </h2>
  <% form_tag delete_admin_categories_path do -%>
    <ul id = "categories">
      <%= @categories.collect{|@cat| render(:partial => 'category')} %>
    </ul>
    <% if is_admin? %>
      <%= submit_tag "Delete" %>
    <% end %>
  <% end %>
<% end %>
<% if is_admin? %>
  <div id="catform">
      <%= render :partial => 'new_form' %>
  </div>
<% end %>
