<div id="new_post">
  <h3> Edit post </h3>
  <%= error_messages_for 'post' %>
  <% form_for @post do |f| %>
    <%= render :partial=> 'form' %>
    <div class = "divitem"><%= submit_tag "Edit" %></div>
  <% end %>
</div>
