<%= image_tag(@user.image, :class => 'user_pic') %><br/>
<div class = "profile">
  <h2><%= h(@user.name) %>'s Profile<br></h2>
  Email: <%= h(@user.email) %><br>
  <% if @user.biodata %>
    Biodata :<br>
    <%=  textilize(@user.biodata) %>
  <% end %>
</div>
