<div id="edit_form">
  <h3> Edit Password </h3>
  <% form_tag update_password_admin_users_path(:token => @user.token), :method => 'put' do %>

      <div class ="divitem">Password:</div>
        <div class ="divfield"><%= password_field :user, 'password' %></div>

      <div class ="divitem">Confirm password:</div>
        <div class ="divfield"><%= password_field :user, 'password_confirmation' %></div>

      <div class ="divitem"><%= submit_tag "Edit" %></div>

  <% end %>
</div>
